// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$yellow: #FDB631;
$orange: #E67E22;


$black: #06070c;
$lightblack: #151828;
$white: #f4f6f7;
$blue:  #3079ab;
$green: #79f1e3;
$darkgreen: #009f9d;
$gray: #545c66;

.gray {
  color: $gray;
}

.orange {
  color: $orange;
}

.green {
  color: $green;
}

.white {
  color: $white;
}

.red {
  color: $red;
}

.blue {
  color: $blue;
}

.background-green {
  background-color: $green;
}

.background-black {
  background-color: $black;
}

.background-lightblack {
  background-color:$lightblack;
}
