.questions {
  h1 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
}

.large-size {
  width: 578px;
  margin-top: 28px;
}

.profile-card {
  margin-top: 41px;
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 0 0 15px rgba(239,224,224,1);
  background-color: #009f9d;
  color: white;
  max-height: 90vh;
}

.send-button {
  background-color: black;
  a:hover {
    background-color: white;
  }
  height: auto;
  width: 100px;
  text-align: center;
  font-size: 14px;
}

.my-projects-background {
  background-color: #cdffeb;
}

