.review-title {
  margin-top: 120px;
  margin-bottom: 55px;
}

.submit-review {
  margin-top: 35px;
}

.inline {
  display: inline;
  padding: 5px;
}

fieldset.radio_buttons legend.col-form-label {
    border: none;
}
