.review-section {
  margin-top: 25px;
  margin-bottom: 35px;
}

.margin-bottom-button {
  margin-bottom: 20px;
  margin-top: 30px;
}

.ask-margin-bottom {
  margin-bottom: 30px;
}

.stars-position {
  font-size: 18px;
  margin-top: 22px;
  margin-right: 20px;
}
