<div class="container">
  <% @events.each do |event| %>
    <p>Projeto: <%= event.project.name %></p>
    <p>Data: <%= event.datetime %></p>
    <p>Quem eu contratei: <%= event.project.artist.first_name %> <%= event.project.artist.last_name %>
  <% end %>
</div>
