/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  text-align: center;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
