

.musician-avatar {
  height: 30vh;
  width: 30vh;
  border-radius: 100px;
  position: absolute;
  left: 132px;
  top: 426px;
  size: cover;
  border: solid;
  border-color: $green;
  border-margin: 3px;
  padding: 3px;
  background-color: $black;
}
