.home-banner {
  background-image: url('https://www.icmp.ac.uk/sites/default/files/styles/page_background/public/slider-image/higher-diploma-london-music-course-6.jpg?itok=_1shPfOB');
  background-size: cover;
  height: 65vh;
  text-align: center;
  padding-top: 0vh;
  margin-top: 15vh;
}

.show-banner {
  // background-image: url('https://www.icmp.ac.uk/sites/default/files/styles/page_background/public/slider-image/higher-diploma-london-music-course-6.jpg?itok=_1shPfOB');
  background-size: cover;
  height: 65vh;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: $green;
  border-bottom-style: solid;
  border-width: 3px;

  padding-top: 0vh;
  margin-top: 15vh;

}

.shadow {
  background-color: $black;
  opacity: 0.5;
  padding: 10px;
}

.show-box {
  margin: 20px;
  display: flex;

}

.box-bio {
  padding-top: 100px;
  padding-left: 10px;
  font-family: Open Sans;
  font-size: 14px;
  font-style: bold;
  color: $green;
  opacity: 0.6;
  margin: 0px;
  border-radius: 10px;
  position: sticky;
  min-height: 350px;
  max-width: 320px;
}

#box-video {
  padding: 40px;
}

