.home-banner {
  // background-image: url('https://www.icmp.ac.uk/sites/default/files/styles/page_background/public/slider-image/higher-diploma-london-music-course-6.jpg?itok=_1shPfOB');
  background-size: cover;
  height: 65vh;
  text-align: center;
  padding-top: 0vh;
  margin-top: 15vh;
}

.show-banner {
  // background-image: url('https://www.icmp.ac.uk/sites/default/files/styles/page_background/public/slider-image/higher-diploma-london-music-course-6.jpg?itok=_1shPfOB');
  background-size: cover;
  height: 65vh;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: $green;
  border-bottom-style: solid;
  border-width: 3px;
  padding-top: 0vh;
  margin-top: 15vh;
}

.shadow {
  background-color: $black;
  opacity: 0.5;
  padding: 10px;
}

.show-box {
  margin: 20px;
  display: flex;
}

.box-main {
  margin: 15px 0px 15px 0px;
  border-radius: 10px;
}

.box-first {
  display: flex;
  align-items: center;
}

.box-bio {
  padding: 40px 15px 15px 15px;
  font-family: Open Sans;
  font-size: 18px;
  font-style: bold;
  color: $green;
  margin-top: 60px;
  border-radius: 10px;
  position: sticky;
  min-height: 350px;
  position: relative;
  width: 475px;
  margin-left: 55px;
}

.box-stars {
display: flex;
align-items: center;
justify-content: center;
}

.review-stars {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-text: center;
}

.tag-b {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#review-box {
  align-items: start;
  padding: 10px;
}

#box-video {

}

