.home-banner {
  background-image: url('https://www.icmp.ac.uk/sites/default/files/styles/page_background/public/slider-image/higher-diploma-london-music-course-6.jpg?itok=_1shPfOB');
  background-size: cover;
  height: 65vh;
  color: #eee;
  text-align: center;
  padding-top: 0vh;
  margin-top: 15vh;
}
