.btn-light {
  height: 45px;
  min-width: 120px;
  border: 3px solid;
  border-color: $green;
  border-radius: 40px;
  padding: 6px 14px 6px 14px;
  font-size: 20px;
  color: $green;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  text-align: center;
}

.btn-light:hover {
  opacity: 0.6;
  height: 44px;
  width: 99px;
  text-decoration: none;
  background-color: $green;
  color: $black;
}

.btn-solid {
  height: 45px;
  min-width: 120px;
  border: 3px solid;
  border-color: $green;
  border-radius: 40px;
  padding: 6px 14px 6px 14px;
  background-color: $green;
  color: $white;
  font-size: 20px;
  font-style: bold;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  text-align: center;
  color: black;
  margin-top: 15px;
}

.btn-solid:hover {
  opacity: 0.5;
  height: 44px;
  width: 99px;
  text-decoration: none;
  background: #79f1e3;
}

.btn-solid-blue {
  height: 45px;
  min-width: 120px;
  border: 3px solid;
  border-color: $blue;
  border-radius: 40px;
  padding: 6px 14px 6px 14px;
  background-color: $blue;
  color: $white;
  font-size: 20px;
  font-style: bold;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  text-align: center;
}

.btn-solid-blue:hover {
  opacity: 0.5;
  height: 44px;
  width: 99px;
  text-decoration: none;
}


.do-a-question {
  margin-bottom: 20px;
}

.btn-round {
  background-color: #019F9D;
  border: 3px;
  color: $white;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  transition: opacity 0.3s ease;
  text-align: center;
  // position: absolute;
  // left: 460px;
  // top: 4px;
  padding-left: 10px;
  margin-left: 60px;
}

.btn-round:hover {
  opacity: 0.5;
  height: 39px;
  width: 39px;
}

.btn-circle {
  background-color: #019F9D;
  border: 3px;
  color: $white;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  transition: opacity 0.3s ease;
  text-align: center;
  padding-left: 10px;
}

.btn-circle:hover {
  opacity: 0.5;
  height: 39px;
  width: 39px;
}


// show all button
.btn-green {
  color: #79f1e3;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  transition: .4s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .4s;
  display: inline-block;
}
.btn-green p {
  text-align: center;
  color: #79f1e3;
  padding-top: 20px;
}

.btn-green:hover {
  color: black;
  background-color: #79f1e3;
  text-decoration: none;
}

.contact-artist {
  margin-top: 15px;
  margin-bottom: -15px;
  width: auto;
}

.review-button-contracts {
  margin-top: 30px;
  margin-left: 25px;
  width: 130px;
}

.contract-button {
  margin-bottom: 20px;
}

.align-button {
  text-align: center;
  margin-bottom: 50px;
}

.btn-naked {
  font-size: 12px;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  transition: .4s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .4s;
  display: inline-block;
  background-color: $lightblack;
  border: none;

}
.btn-naked:hover {
  color: $black;
  background-color: $green;
  text-decoration: none;
}

.btn-invisible {
  font-size: 16px;
  font-family: Open Sans;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  transition: .4s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .4s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $lightblack;
  border: none;
  font-weight: bold;

}
.btn-invisible:hover {
  color: $black;
  background-color: $green;
  text-decoration: none;
}

.btn-invisible-blue {
  font-size: 16px;
  font-family: Open Sans;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  transition: .4s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .4s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $lightblack;
  border: none;
  font-weight: bold;

}
.btn-invisible-blue:hover {
  color: $black;
  background-color: $blue;
  text-decoration: none;
}
