.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 20px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  justify-content: left;
}

.questions {
  p {
    word-wrap: break-word;
  }
}

.card-event {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
}

.event-title {
  margin-top: 110px;
  margin-bottom: 55px;
}

.card-event-img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  margin-left: 50px;
  margin-top: -16px;
}

.card-event h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0px;
}

.card-event p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 12px;

}

.card-event .card-event-infos {
  padding: 16px;
  padding-left: 50px;
  justify-content: left;
  width: 100%;
  margin-top: 25px;
  a {
    float: right;
  }
}



