.main-search {
  margin-right: 56px;
}

.form-new-project {
  margin-top: 100px;
}

.form-card {
  padding: 50px;
  background-color: white;
  margin-top: 140px;
  padding-top: 30px;
  margin-bottom: 60px;
}
