.search-name {
  padding: 0;
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255,221,204,0.5);
  color: black;
}

.search-city {
  padding: 0;
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255,221,204,0.5);
  color: black;
}
