.search-name {
  padding: 0;
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255,221,204,0.5);
  color: black;
}

.search-city {
  padding: 0;
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255,221,204,0.5);
  color: black;
}

.select2-container *:focus {
  outline: none;
}

// .select2-dropdown {
//   position: static !important;
// }

// .select2-dropdown .select2-dropdown--above {
//   margin-top: 336px !important;
// }
.main-search {
  #search_name::-webkit-input-placeholder {
    color: white;
  }

  #search_name::-moz-input-placeholder {
    color: white;
  }

  #search_name::-ms-input-placeholder {
    color: white;
  }

  #search_name::-moz-input-placeholder { /* Firefox 18- */
    color: white;
  }

  .select2-search_city-container.title {
    color: white;
  }
}

