.polaroid-images a
{
  background: $white;
  display: inline;
  float: left;
  margin: 0 15px 30px;
  padding: 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Permanent Marker', cursive;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
  box-shadow: 0 4px 6px rgba(0,0,0,.3);
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
  z-index:0;
}

.polaroid-images p {
  font-family: Open Sans;
  font-size: 12px;
  color: $gray;
  opacity: 0.6;
  margin: 0px;
}

.polaroid-images a:after {
  color: #333;
  font-size: 20px;
  content: attr(title);
  position: relative;
  top:15px;
}

.polaroid-images img {
  display: block;
  width: inherit;
}


.polaroid-images a:hover{
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
        transform: rotate(0deg);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
        transform: scale(1.2);
  z-index:10;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
}

.polaroid-text {
  display: inline;
  justify-content: space-around;
}

.wrapper {
  margin: 20px 0px 0px 40px;
  text-align: center;
}

//////////////////////////////////////////////////

// polaroid projects //

.polaroid-project
{
  background: $white;
  display: inline;
  // margin: 0 0px 30px;
  // padding: 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Permanent Marker', cursive;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
  box-shadow: 0 4px 6px rgba(0,0,0,.3);
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
  z-index:0;
  height: auto;
  width: 100%;
  overflow-y: hidden;
  min-height: 15.5em;
  margin-bottom: 15px;
}

.polaroid-project p {
  font-family: Open Sans;
  font-size: 12px;
  color: $gray;
  opacity: 0.6;
  margin: 0px;
}

.polaroid-project:after {
  color: #333;
  font-size: 20px;
  content: attr(title);
  position: relative;
  top: 15px;
}

.polaroid-project img {
  display: block;
  width: inherit;
}


.wrapper {
  margin: 20px 0px 0px 40px;
  text-align: center;
}

.my-projects-card {
  padding-top: 100px;
  padding-left: 30px;
}
