.signup-form {
  margin-top: 100px;
  margin-bottom: 25px;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  padding-right: 85px;
  padding-left: 85px;
  padding-bottom: 55px;
  padding-top: 55px;
}

.signup-title {
  font-size: 30px;
  color: #555;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  display: block;
  padding-bottom: 32px;
}

.form-inputs{
  font-size: 13px;
  color: #555;
  line-height: 1.4;
  text-transform: uppercase;
}

.form-check-label{
 font-size: 13px;
 color: #555;
 line-height: 1.4;
 text-transform: uppercase;
}
